src/main/resources/xsd/EDIOrderEntry.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://edi.shaw.com/samples" targetNamespace="http://edi.shaw.com/samples" elementFormDefault="qualified">
           
	<xs:element name="ediOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="orders" type="tns:ArrayOfOrders"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ArrayOfOrders">
		<xs:sequence>
			<xs:element name="order" type="tns:RequestOrder" minOccurs="1" maxOccurs="unbounded"/> 
		</xs:sequence>
	</xs:complexType>
     
	<xs:complexType name="RequestOrder">
	    <xs:all>
			<xs:element name="customerCode" type="xs:string"/>
			<xs:element name="poNumber" type="xs:string"/>
			<xs:element name="poQualifier" type="xs:string"/>
			<xs:element name="beg" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dunsNbr" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="orderingSystem" type="xs:string"/>
			<xs:element name="vendorNo" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="salesCheckNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="agreementNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="custDept" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="newStoreInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hostAlertFlag" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="shipToConsFlag" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="stdCarrierAlphaCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fobPoint" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="acknowledgeOrdInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="shipPartCompInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="reserveOrderInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="authorizationNo" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="storeName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="carrMethCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="noAsnFlag" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="shipToStore" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billToStore" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="crossDock" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="markForStore" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bsStore" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="poDate" type="tns:EdiDate"/>
			<xs:element name="cancelDate" type="tns:EdiDate"/>
			<xs:element name="consumerPoDate" type="tns:EdiDate"/>
			<xs:element name="deliveryDate" type="tns:EdiDate"/>
			<xs:element name="pelvCutOffDate" type="tns:EdiDate"/>
			<xs:element name="nbDate" type="tns:EdiDate"/>
			<xs:element name="ohCancelDate" type="tns:EdiDate"/>
			<xs:element name="routeByDate" type="tns:EdiDate"/>
			<xs:element name="shipByDate" type="tns:EdiDate"/>
			<xs:element name="shipCancelDate" type="tns:EdiDate"/>
			<xs:element name="shipDate" type="tns:EdiDate"/>
			<xs:element name="lines" type="tns:ArrayOfLines"/>
			<xs:element name="shipToAddress" type="tns:Address"/>
			<xs:element name="shipToTruncFlag" type="xs:string"/>			
			<xs:element name="consumerAddress" type="tns:Address"/>
			<xs:element name="thirdPartyAddress" type="tns:Address"/>
			<xs:element name="consStatusMessage" type="xs:string"/>
			<xs:element name="packingSlipMessage" type="xs:string"/>
			<xs:element name="gift1Message" type="xs:string"/>
			<xs:element name="gift2Message" type="xs:string"/>
			<xs:element name="returnMessage" type="xs:string"/>
			<xs:element name="generics" type="tns:ArrayOfGenerics"/>
	    </xs:all>
	  </xs:complexType>

     
	<xs:complexType name="ArrayOfLines">
		<xs:sequence>
			<xs:element name="line" type="tns:RequestLine" minOccurs="1" maxOccurs="unbounded"/> 
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EdiDate">
		<xs:all>
			<xs:element name="dateQualifier" type="xs:string" minOccurs="1"/> 
			<xs:element name="dateValue" type="xs:date" minOccurs="1"/> 
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="careOf" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addressLine1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addressLine2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="province" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="zip" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="acctNbr" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ArrayOfGenerics">
		<xs:sequence>
			<xs:element name="generic" type="tns:Generic" minOccurs="1" maxOccurs="unbounded"/> 
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Generic">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RequestLine">
		<xs:sequence>
			<xs:element name="poLineNo" type="xs:string" minOccurs="1"/>
			<xs:element name="orderQuantity" type="xs:double" minOccurs="1"/>
			<xs:element name="quantityUOM" type="xs:string" minOccurs="1"/>
			<xs:element name="custUnitPrice" type="xs:double" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priceUOM" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="reservedInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sameDyelotInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="itemNo" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="custProdId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="upcCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="gtinNbr" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="custProdDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="shipDate" type="tns:EdiDate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="custReqShipDate" type="tns:EdiDate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="packingSlipMessage" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="retailCharge" type="xs:double" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>  

     <xs:element name="ediOrderResponse">
     	<xs:complexType>
     		<xs:sequence>
     			<xs:element name="messageType" type="xs:string"/>		
     			<xs:element name="message" type="xs:string"/>
     			<xs:element name="ediOrderNumbers" type="xs:long" minOccurs="0"  maxOccurs="unbounded"/>
     			<xs:element name="shawOrderNumbers" type="xs:string" minOccurs="0"  maxOccurs="unbounded"/>
     			<xs:element name="failMessages" type="xs:string" minOccurs="0"  maxOccurs="unbounded"/>
     		</xs:sequence>
     	</xs:complexType>
     </xs:element>
	          
</xs:schema>